
html {
    padding-left: 20px;
}

div {
    border: 3px solid black;
    padding: 5px;
    margin: 15px;
}

header {
    border: 3px solid blue;
    padding: 5px;
    margin: 15px;
}

section {
    border: 3px solid red;
    padding: 5px;
    margin: 15px;
}

footer {
    border: 3px solid green;
    padding: 5px;
    margin: 15px;
}

aside {
    border: 3px solid yellow;
    padding: 5px;
    margin: 15px;
}